body {
  font-family: Arial, sans-serif;
  margin: 20px;
  width: 80%;
}

h2 {
  margin-bottom: 4px;
}

.subtitle {
  margin-bottom: 20px;
  color: #555;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  gap: 16px;
}

.panel {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 12px;
}

.panel.full {
  grid-column: 1 / span 2;
  width: 100%
}

svg {
  width: 100%;
  height: 280px;
}

.axis path,
.axis line {
  stroke: #aaa;
}

.legend {
  cursor: pointer;
}

.panel.full svg {
  width: 100%;
  height: 360px; /* increase size */
}

.scatter-wrap {
  display: grid;
  grid-template-columns: 1fr 220px;
  gap: 16px;
  align-items: start;
}

.scatter-controls {
  border-left: 1px solid #eee;
  padding-left: 12px;
  font-size: 14px;
  width: 140px;
}

.controls-title {
  font-weight: 600;
  margin-bottom: 10px;
}

.scatter-controls label {
  display: block;
  margin: 8px 0;
  cursor: pointer;
}

#btn-refresh {
  margin-top: 14px;
  padding: 5px 5px;
  width: 80%;
  cursor: pointer;
}

.warning {
  margin-top: 10px;
  color: #b00020;
  font-size: 12px;
}


/* Panel 3 layout: big plot + small controls */
.panel-scatter .scatter-wrap {
  display: grid;
  grid-template-columns: 1fr 140px; /* plot gets remaining space, controls fixed */
  gap: 14px;
  align-items: start;
}
.panel-scatter #btn-refresh {
  width: 80%;
  padding: 6px 8px;
  font-size: 12px;
}

.panel-model .model-wrap {
  display: grid;
  grid-template-columns: 1fr 150px;
  gap: 14px;
  align-items: start;
}

.panel-model .model-controls {
  width: 150px;
  padding-left: 10px;
  font-size: 12px;
  border-left: 1px solid #eee;
}

.panel-model #modelPlot {
  width: 100%;
  height: 420px;  /* make it readable */
}

.panel-model #m-refresh {
  width: 100%;
  padding: 6px 8px;
  font-size: 12px;
  margin-top: 10px;
}

.panel-overview .overview-wrap{
  display: grid;
  grid-template-columns: 1fr 150px;
  gap: 14px;
  align-items: start;
}

.panel-overview .overview-controls{
  width: 150px;
  padding-left: 10px;
  font-size: 12px;
  border-left: 1px solid #eee;
}

.panel-overview #overview{
  width: 100%;
  height: 260px;
}

.checkbox-group{
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 12px;
}

.checkbox-group label{
  display: flex;
  align-items: center;
  gap: 6px;
}
